<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lunaris</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    
<script>
document.addEventListener("DOMContentLoaded", () => {
    if (!sessionStorage.getItem("lunaris_disclaimer_accepted")) {
        const accepted = confirm(
            "Esta herramienta es experimental y de uso exclusivo para profesionales de la salud o entornos de prueba.\n\n¿Confirmás que comprendés esta advertencia?"
        );

        if (!accepted) {
            window.location.href = "https://www.google.com";
        } else {
            sessionStorage.setItem("lunaris_disclaimer_accepted", "true");
        }
    }
});
</script>

<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='Logo Lunaris1.jpg') }}" alt="Lunaris Logo" class="logo">
            <span class="title">LUNARIS</span>
        </div>

        <nav class="navbar">
            <ul class="menu">
    
                <li class="menu-item dropdown">
                    <a href="#">Inicio ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="#presentacion">Presentación del Proyecto</a></li>
                        <li><a href="#quienes_somos">Quiénes somos</a></li>
                    </ul>
                </li>
    
                <li class="menu-item">
                    <a href="{{ url_for('prediccion') }}">Predicción</a>
                </li>
                
            </ul>
        </nav>       
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>






