{% extends "base.html" %}
{% block content %}

<div class="container">

    <h1>CLASIFICACIÓN DE LESIONES CUTÁNEAS</h1>

    <form id="predict-form" class="upload-box">
        <input
            id="image-input"
            type="file"
            accept="image/*"
            required
        >
        <button type="submit">Analizar Imagen</button>
    </form>

    <div class="analysis-area">

        <!-- Imagen -->
        <div class="image-container">
            <img id="imagePreview" class="preview-img" style="display:none;">
        </div>

        <!-- Resultados -->
        <div id="result-box" class="result" style="display:none;">
            <h3>Resultado</h3>
            <strong id="predicted-class"></strong>

            <h4>Probabilidades</h4>

            <div id="probabilities"></div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='predict.js') }}"></script>

{% endblock %}
